.banner {
  position: relative;
  z-index: 1;
  min-height: 550px;
  height: calc(60vh - 235px);
  margin-bottom: 0;
  background-image: url('../images/getcandy/banner/banner.jpg');
  background-size: 80%;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #ab1b71;
  text-transform: uppercase;
  color: white;
  transition: background-position 0.2s linear 0s;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: #ab1b71;
  }

  .banner-item {
    position: relative;
    z-index: 2;
    margin-top: 15%;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: 400;
    line-height: 1;
    color: white;
  }

  .lead {
    margin-top: #{$standard-gap / 3};
    margin-bottom: #{$standard-gap / 3};
    font-size: 1.4em;
    color: white;

    @include phone {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .btn {
    margin-top: #{$standard-gap * 2 / 1.5};

    @include phone {
      margin-top: $standard-gap;
    }
  }

  @include tablet {
    height: 450px;
    min-height: auto;

    h1 {
      font-size: 3em;
    }

    .btn {
      font-size: 1em !important;
    }
  }

  @include phone {
    min-height: 500px;
    background-size: 150%;
    background-position: bottom right;

    h1 {
      font-size: 2.3em;
    }

    .btn {
      font-size: 1em !important;
    }

    &:after {
      display: none;
    }
  }
}