.basket {
  font-family: $prime-font;

  .product-row {
    margin-top: $standard-gap;
    padding-top: #{$standard-gap / 3};
    padding-bottom: #{$standard-gap / 3};
    color: $prime-color;

    &~ .product-row {
      margin-top: 0;
    }

    [class*="col-"] {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-right: -4px;
    }

    .quantity {
      .form-control {
        width: 60px;
      }
    }

    .line-total {
      text-align: right;
      color: $third-color;
    }
  }

  .basket-img img {
    max-height:100px;
  }

  .basket-btm {
    margin-top: $standard-gap;
    padding-top: $standard-gap;
    color: $copy-color;
    border-top: 1px solid lighten($copy-color, 60%);

    .totals-area {
      font-size: 1.1em;

      [class*="total-"] {
        margin-bottom: #{$standard-gap / 3};
        padding-left: $standard-gap;

        &:before, &:after {
          content: '';
          display: block;
          clear: both;
        }
      }

      .total-promotion-discount {
        [class*="col-"]:last-of-type {
          color: $fourth-color;
        }
      }

      .total-order {
        font-size: 1.6em;
        color: $third-color;
      }
    }
  }
}