.wave {
  width: 100%;
  height: auto;

  @media (max-width: 1299px) {
    width: 1299px;
    height: auto;
  }

  @include tablet-phone {
    width: 991px;
    height: auto;
  }
}

.row {
  &.feature-row {
    margin-top: $standard-gap;
    margin-bottom: $standard-gap;
  }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 -364px; }
}

.header-wrap {
  position: relative;
  z-index: 4;
  background-color: white;
}

main {
  &.home {
    margin-top: $standard-gap;
    margin-bottom: calc(#{$standard-gap} * 2);
  }

  &.page {
    margin-top: calc(#{$standard-gap} * 2);
    margin-bottom: calc(#{$standard-gap} * 2);

    &.no-mar-top {
      margin-top: 0;
    }
  }
}

.section-content {
  .lead {
    font-weight: 400;
    color: lighten($prime-color, 5%);
  }
}

.sale {
  position: absolute;
  z-index: 2;
  display: block;
  font-family: $prime-font;
  text-align: center;
  color: white;
  background-color: $third-color;
  border-radius: 50%;
}

.element {
  &.product-box, &.promo-box {
    background-color: white;
    -webkit-box-shadow: 0 3px 5px 0 rgba(red(lighten($second-color, 30%)), green(lighten($second-color, 30%)), blue(lighten($second-color, 30%)),0.8);
    box-shadow: 0 3px 5px 0 rgba(red(lighten($second-color, 30%)), green(lighten($second-color, 30%)), blue(lighten($second-color, 30%)),0.8);
    transition: box-shadow 0.2s ease 0s;

    &:hover {
      -webkit-box-shadow: 0 3px 5px 0 rgba(red(darken($second-color, 10%)), green(darken($second-color, 10%)), blue(darken($second-color, 10%)),0.8), 0 0 20px 0 rgba(red($second-color), green($second-color), blue($second-color), 0.8);
      box-shadow: 0 3px 5px 0 rgba(red(darken($second-color, 10%)), green(darken($second-color, 10%)), blue(darken($second-color, 10%)),0.8), 0 0 20px 0 rgba(red($second-color), green($second-color), blue($second-color), 0.8);
      transition: box-shadow 0.2s ease 0s;
    }
  }

  &.content {
    padding: 0;

    .banner-img {
      width: 100%;
      height: auto;
    }

    .inner {
      padding: $standard-gap;

      img {
        display: block;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin-top: $standard-gap;
        margin-left: auto;
        margin-bottom: #{$standard-gap + 10px};
        margin-right: auto;
      }

      @include phone {
        padding-top: calc(#{$standard-gap} / 3 * 2);
        padding-bottom: calc(#{$standard-gap} / 3 * 2);
      }
    }

    p {
      font-size: 0.9em;

      &.lead {
        font-size: 1.2em;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    table {
      font-size: 0.9em;
    }

    h1, .h1, h2, .h2, h3, .h3 {
      margin-top: 0;
    }

    &.category, &.product-list {
      .inner {
        @include phone {
          h1 {
            margin-bottom: 0;
          }

          p {
            display: none;
          }
        }
      }
    }

    &.page {
      padding: $standard-gap;
      background-color: white;
      -webkit-box-shadow: 0 3px 5px 0 rgba(red(lighten($second-color, 30%)), green(lighten($second-color, 30%)), blue(lighten($second-color, 30%)),0.8);
      box-shadow: 0 3px 5px 0 rgba(red(lighten($second-color, 30%)), green(lighten($second-color, 30%)), blue(lighten($second-color, 30%)),0.8);

      h1 {
        font-size: $h2;
      }

      h2, h3, h4 {
        margin-top: #{$standard-gap * 1.5};
      }

      ul, ol {
        font-size: 0.9em;
      }
    }
  }
}

.contact-details {
  h5 {
    margin-top: $standard-gap;
  }

  .tel {
    font-size: 1.6em;
    font-weight: normal;
  }
}