$prime-color: #642c90;
$second-color: #b239a3;
$third-color: #2b3988;
$fourth-color: #9ec738;
$copy-color: #555555;

/* Stock Colours */

$green: #4dd049;
$orange: #e4891d;
$red: #e41d1d;

/* Brand Colours */
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$vimeo: #1ab7ea;
$youtube: #cd201f;
$google: #dd4b39;